<br></br>
<br></br>
<h2>Editing Playlist <%= @playlist.title %></h2>
<div class="text-center">
<%= link_to 'Show', @playlist %> |
<%= link_to 'Back', playlists_path %>
</div>
<%= render 'form' %>

<br></br>

<br></br>